<div style="text-align:center;">
  <h1>From AppComponent</h1>
</div>

<div style="display:none;">
  <app-test></app-test>
</div>

<div style="display:none;">
  <app-style-binding></app-style-binding>
</div>

<div style="display:none;">
  <app-event-binding></app-event-binding>
</div>

<div style="display:none;">
  <app-template-ref-vars></app-template-ref-vars>
</div>

<div style="display:none;">
  <app-two-way-binding></app-two-way-binding>
</div>

<div style="display:none;">
  <app-ng-if></app-ng-if>
</div>

<div style="display:none;">
  <app-ng-switch></app-ng-switch>
</div>

<div style="display:none;">
  <app-ng-for></app-ng-for>
</div>

<div style="display:block;">
  <!-- first: used for both first and second examples -->
  <!-- <app-component-interaction [parentData]="name"></app-component-interaction> -->

  <!-- second: used for both third example -->
  <app-component-interaction [parentData]="dataObj"></app-component-interaction>
</div>
